.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 5rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-med {
  margin-bottom: 3rem !important;

  @include respond(tab-port) {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;

  @include respond(tab-port) {
    margin-bottom: 1rem !important;
  }
}

.u-container {
  max-width: 111rem;
  margin: 0 auto;

  @include respond(tab-land) {
    max-width: 95rem;
  }
  @include respond(tab-port) {
    max-width: 80rem;
  }

  @include respond(big-scr) {
    max-width: 80%;
  }
}

.u-margin-top-big {
  margin-top: 5rem !important;
}

.u-margin-top-med {
  margin-top: 3rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}
