// VARIABLES

// Common colors
$white: #fff;
$black: #000;
$grey-1: #f7f7f7;
$grey-2: #eee;
$grey-3: #333;

// Spl. colors
$purple: #e8e9f6;
$purple-2: #9ca1f1;

$blue: #4285f4;
$green: #0f9d58;
$red: #ea4335;
$yellow: #fbbc04;
