.header {
  height: 95vh;
  background: linear-gradient($white, $purple, $purple-2);
  border-radius: 0 0 45% 45%;
  z-index: -100;
  transition: all 0.2s ease-in;

  &__content {
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;

    @include respond(tab-port) {
      grid-template-columns: auto;
    }
  }

  &__logo {
    @include flexCenterCenter;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include respond(tab-port) {
      @include flexCenterCenter;
    }

    .text {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 300;
    }

    svg {
      width: 10rem;
      height: 5rem;
      margin-right: 1rem;
    }
  }

  &__down-arrow {
    animation: arrowMotionUpDown 1s infinite ease-in-out;
    @include flexCenterCenter;
    margin-top: -10rem;

    svg {
      height: 10rem;
      width: 6rem;
    }
  }

  .extra {
    display: none;

    @include respond(tab-port) {
      display: block;
    }

    @include respond(big-scr) {
      display: block;
    }
  }

  &__right {
    text-align: center;

    svg {
      width: 100%;
      margin-top: 5rem;
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  &__left {
    width: 90%;
    margin: auto 0;

    @include respond(tab-port) {
      margin: auto auto;
    }
  }

  @include respond(tab-port) {
    text-align: center;
  }

  &__red-bubble {
    background-color: rgba($red, 0.6);
    @include bubble;
    top: 50%;
    // left: -1rem;
    animation: redBubble 10s ease-in-out infinite;
    // border: 0.3rem solid $grey-3;
  }
  &__green-bubble {
    background-color: rgba($green, 0.9);
    @include bubble;
    top: 20%;
    right: 10%;
    animation: greenBubble 8s ease-in-out infinite;
    // border: 0.5rem solid $grey-3;
  }
  &__blue-bubble {
    background-color: rgba($blue, 0.9);
    @include bubble;
    top: 83%;
    left: 8%;
    transform: scale(0.6);
    animation: blueBubble 5s ease-in-out infinite;

    // border: 0.5rem solid $grey-3;
  }
  &__yellow-bubble {
    background-color: rgba($yellow, 0.9);
    @include bubble;
    top: 75%;
    right: -0.5%;
    transform: scale(4);
    animation: yellowBubble 20s ease-in-out infinite;
    overflow: hidden;

    // border: 0.2rem solid $grey-3;

    @include respond(phone) {
      right: -12%;
    }
  }
}
