.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 1.5rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background-color: $white;
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(2);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.2);
  }

  &::after {
    content: '';
    position: absolute;
    background-color: $grey-3;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    transition: all 0.2s ease-out;
    z-index: -1;
    pointer-events: none;
  }

  &--dark {
    background-color: $grey-3;
    color: $white;
    font-weight: 100;
  }
}
