.navbar {
  &.nav-transparent {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7rem;
    // padding: 1rem 0 1rem 0;
    background-color: transparent;
    z-index: 100;
    transition: all 0.2s ease;
  }

  &.nav-colored {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7rem;
    // padding: 1rem 0 1rem 0;
    background-color: $white;
    z-index: 100;
    transition: all 0.2s ease;
    box-shadow: 0 0.1rem 0.4rem rgba($black, 0.2);
  }

  .u-container {
    @include flexRowBetween;
    height: 100%;
  }

  &__logo {
    width: 30rem;
    margin-top: 1rem;
  }

  &__collections {
    min-width: 40%;
    @include flexRowBetween;
    height: 100%;
  }

  &__nav-links {
    display: inline-block;
    height: 100%;
    list-style: none;
    font-size: 1.6rem;
    width: 100%;

    a {
      &,
      &:link,
      &:visited {
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: center;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s ease;
        backface-visibility: hidden;
      }

      &.active {
        color: $red;
        border-bottom: 0.3rem solid $red;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// .navbar__colored {
//   position: sticky;
//   top: 0;
//   width: 100%;
//   height: 7rem;
//   @include flexRowBetween;
//   padding: 1rem 0 1rem 0;
//   background-color: $white;
//   box-shadow: 0 0.1rem 0.4rem rgba($black, 0.3);
//   transition: all 0.2s ease;
//   z-index: 1;
// }
